<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-white">Me siga nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
          <ul class="social-network">
            <li>
              <a href="https://www.linkedin.com/in/gabriella-lopes-170a73201/" target="_blank" class="icoLinkedin">
                <i class="fa fa-linkedin-square" arial-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/gabriellalopess" target="_blank" class="icoGitHub">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
  
        </div>
      </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
      <span class="text-light">© 2021 Copyright: </span>
      <a class="text-light" target="_blank" href="https://brazil.generation.org/">brasil.generation.org</a>
    </div>
  </footer>