ul.social-network {
    list-style: none;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
  }
  
  .fa {
    font-size: 35pt;
    color: white;
    padding: 10px;
  }
  
  .fa-linkedin-square:hover {
    color: rgb(20, 112, 165);
  }
  
  .fa-github:hover {
    color: rgb(32, 32, 32);
  }
  .corrodape{
    background-color: rgb(124, 158, 245);
  }