<div class="corinicio">
<div class="container-fluid">

    <div class="row bg- d-flex align-items-center">
      <div class="col-md-6">
  
        <div class="row d-flex justify-content-center">
          <div class="col-md-7 text-white">
            <h1 class="fs-54">Escreva seus pensamentos!!</h1>
            
          </div>
        </div>
        
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-md-6">
              <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
              <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
            </div>
          </div>
      </div>
  
  
      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../assets/DfWj.gif" alt="" width="500px" height="500px" bg-dark>
  
  
      </div>
    </div>
  
  
    <div class="container mb-5 mt-5" id="postagens">
      <nav>
        <div class="nav nav-tabs d-flex justify-content-center " id="nav-tab" role="tablist">
    
          <a class="nav-link active font-weight-bold txt-cor" id="nav-todasPostagens-tab" data-toggle="tab"
            href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>
    
          <a (click)='findByIdUsuario()' class="nav-link font-weight-bold txt-cor" id="nav-minhasPostagens-tab" data-toggle="tab"
            href="#minhasPostagens" role="tab" aria-controls="minhasPostagens" aria-selected="false">Minhas Postagens</a>
    
          <a class="nav-link font-weight-bold txt-cor" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema"
            role="tab" aria-controls="postagemTema" aria-selected="false">Postagens por Tema</a>
    
        </div>
      </nav>
      <div class="tab-content mt-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
    
          <div class="card-columns">
            <div class="card"  style="width: 18rem;" *ngFor='let item of listaPostagens'>
              <div class="card-body">
                <h5 class="card-title">{{item.titulo}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.usuario.nome}}</h6>
                <p class="">{{item.tema.descricao}}</p>
                <p class="card-text">{{item.texto}}</p>
                <p class="">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</p>
    
              </div>
            </div>
          </div>
    
        </div>
    
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
    
          <div class="card-columns">
            <div class="card"  style="width: 18rem;" *ngFor='let item of usuario.postagem'>
              <div class="card-body">
                <h5 class="card-title">{{item.titulo}}</h5>
                <p class="">{{item.tema.descricao}}</p>
                <p class="card-text">{{item.texto}}</p>
                <p class="">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</p>
                <button [routerLink]="['/postagem-edit', item.id]" type="button" class="btn btn-outline-success mr-3">Editar</button>
                <button [routerLink]="['/postagem-delete', item.id]" type="button" class="btn btn-outline-danger">Apagar</button>
    
              </div>
            </div>
          </div>
    
        </div>
    
        <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="postagemTema-tab">
    
          <div class="card-columns " *ngFor='let tema of listaTemas'>
            <div class="card"  style="width: 18rem;" *ngFor='let item of tema.postagem'>
              <div class="card-bod">
                <h5 class="card-title">{{item.titulo}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.usuario.nome}}</h6>
                <p class="card-text">{{item.texto}}</p>
                <p class="">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</p>
    
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>

    <div class="modal fade" id="novaPostagem" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div class="form-group">
            <label for="titulo">Título</label>
            <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
              placeholder="Digite o título">
          </div>
  
          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" cols=""
              rows="3"></textarea>
          </div>
  
  
          <div class="form-group">
            <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>: </label>
            <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema'>
              <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
            </select>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  